.reg{
    margin: auto;
    width:50%;
    height:90%;
}
.btn{
    margin-top: 15px;
}
.bground{
    margin:auto;
    width:50%;
    height:90%;
}
.loginn{
    margin-left: 190px;
}
.registr{
    margin-left:110px;
}